body {
    background-color: #d6d8d9;
}
.custom_navbar {
    background-color: #7abaff;
    border-radius: 5px;
    box-shadow: 0 4px 10px #95999c;
}

.navigation {
    margin-top: 20px;
    display: inline-flex;
}

.navigation ul {
}
.navigation_angle {
    margin: 0;
    padding-right: 0px;
    display: inline-block;
    font-size: 25px;
}
.navigation_page_num {
    padding-right: 10px;
    display: inline-block;
    font-size: 25px;
}