.all_topics {
    margin-top: 20px;
}
.topic_frame {
    margin-top: 20px;
    background-color: #cce5ff;
    border-radius: 10px;
    box-shadow: 0 4px 10px #95999c;
}
.topic_content {
    display: contents;
    float: left;
    margin-left: 20px;
}
.topic_info {
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.bold {
    font-weight: bold;
}

.topic_author {
    color: #1d2124;
}

.topic_category {
    color: #121416;
    padding-bottom: 4px;
}

.topic_text {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.topic_headline {
    color: #121416;
    text-decoration: none;
}
.topic_headline:hover {
    color: red;
}

.stats {
    display: inline-block;
    color: #5a6268;
    margin-bottom: 2px;
}
.topic_comments {
    margin-top: 10px;
}

.topic_time {
    margin-bottom: 5px;
}
.topic_stats {
    float: right;
    padding-right: 40px;
}

.stats_block {
    background-color: #cce5ff;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    box-shadow: 0 4px 10px #95999c;
}

.line {
    border-bottom: solid 1px #b9bbbe;
    margin-bottom: 5px;
    margin-top: 5px;
}

.categories_list {
    margin: 0px;
    padding: 0px;
}
.categories_list li {
    font-size: 20px;
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    list-style: none;
}
.categories_list li a {
    color: black;
}

.categories_list li:hover {
    color :black;
}

.navigation {
    margin-top: 20px;
    display: inline-flex;
}

.navigation ul {
}
.navigation_angle {
    margin: 0;
    padding-right: 0px;
    display: inline-block;
    font-size: 25px;
}
.navigation_page_num {
    padding-right: 10px;
    display: inline-block;
    font-size: 25px;
}